
  <div class="container jumbotron">
      <h1>{{elements.title.value}}</h1>
        <p style="width: 60%;">{{elements.summary.value}}</p>
          <p>Source News</p>
          <p>All Of Your News In One Place</p>
  </div>


<div class = "container">
  <h1>{{Checkout Our Articles}}</h1>
  

</div>
